@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Verdana, 'Open Sans', Arial, Helvetica, sans-serif; }

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-cell {
  font-weight: bolder;
  font-size: 16px;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  font-size: 16px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  font-weight: bold;
}

.demo-row-is-clicked {
  background-color: #4D7992;
}
